.feed-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .toggle-saved-data {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  virtual-scroller {
    height: calc(100vh - 5rem);

    ::ng-deep.scrollable-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .feed-entry {
    padding: 1rem;
    border-radius: 6px;
    margin: 0 0.2rem;
    display: grid;
    position: relative;

    &.is-inactive {
      background-color: rgba(0,0,0,0.02);

      .details-wrapper {
        justify-content: space-between;
      }

      .color-code {
        background-color: rgba(0,0,0,0.35);
      }
    }

    &:not(.is-inactive) {

      .details-wrapper {
        justify-content: end;
      }
      
      .color-code {
        background-color: blue;
      }
    }

  }
  
  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    overflow: hidden;

    .title {
      font-size: 1.4rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .businesss-name {
      font-size: 1rem;
    }

    .municipal {
      font-size: .8rem;
    }
  }

  .details-wrapper {
    display: flex;

    .inactive-label {
      color: red;
      font-size: 1rem;
    }
    
    .date-modified {
      font-size: 0.8rem;
      color: rgba(0,0,0,0.5);
    }
  }

  .color-code {
    width: .4rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }
}

@media screen and (max-width: 1280px) {
  .feed-list-wrapper {
    padding: 5rem 1rem 0 1rem;
  }
  
  .feed-entry {
    grid-template-columns: 1fr;
  }
  
  .details-wrapper {
    margin-top: 1rem;
    flex-direction: row-reverse;
    align-items: end;
  }
  
}

@media screen and (min-width: 1281px) {
  .feed-list-wrapper {
    padding: 5rem;
  }
  
  .feed-entry {
    grid-template-columns: 1fr 7rem;
  }
  
  .details-wrapper {
    align-items: end;
    flex-direction: column;
  }
  
}