<div class="feed-list-wrapper">

  <div class="vs-wrapper" #scrollingWrapper>
    <virtual-scroller [items]="items" #scroll [bufferAmount]="10" [parentScroll]="scrollingWrapper">
      <div class="feed-entry mat-elevation-z3" *ngFor="let item of scroll.viewPortItems" [ngClass]="{ 'is-inactive': item._feed_entry.status === 'INACTIVE'}">
        <div class="info-wrapper">
          <div class="title">{{item.title}}</div>
          <div class="businesss-name">{{item._feed_entry.businessName}}</div>
          <div class="municipal">{{item._feed_entry.municipal}}</div>
        </div>
        <div class="details-wrapper">
          <div class="date-modified">{{item.date_modified | date: 'dd MMM yyyy HH:mm'}}</div>
        </div>
      </div>
    </virtual-scroller>
  </div>


</div>