.dashboard-wrapper {
  width: 100%;
  height: 100%;
  display: grid;

  .data-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1em;
    padding: 2em;
    box-sizing: border-box;
    max-height: 100%;
    overflow: hidden;

    .filters-wrapper {
      width: 100%;
      display: flex;
      justify-content: end;

      .filters-form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
      }
    }

    .results-wrapper {
      width: 100%;
      max-height: 100%;
      overflow: auto;

      .no-records-label {
        display: flex;
        justify-content: center;
        margin-top: 4em;
      }

      .characters-table {
        width: 100%;

        .allies-col,
        .enemies-col {
          max-width: 15em;
        }

        .mat-header-row {
          position: sticky;
          top: 0;

          .mat-header-cell {
            font-weight: 600;
          }
        }

        .mat-row {
          cursor: pointer;
        }

        .mat-row:hover {
          background-color: rgba(0,0,0,0.05);
        }
      }

      .skeleton-loader-table {
        display: grid;
        grid-gap: .2em;

        .skeleton-loader-row {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          height: 2.7em;
          grid-gap: .1em;

          .skeleton-loader-column {
            height: 100%;
            width: 100%;

            ::ng-deep .loader{
              margin: 0;
              height: 100%;
            }
          }
        }
      }
    }

    .paginator {
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 1em;

      .page-size-wrapper {

      }

      .page-selector {
        display: flex;
        gap: 1em;
      }

      .page-size-wrapper {

        .mat-form-field {
          width: 6em;
        }

        ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 0;
        }
      }
    }

  }

  .chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1023px) {
	.dashboard-wrapper {
    grid-template-rows: 1fr 1fr;

    .data-wrapper,
    .chart-wrapper {
      max-width: 100vw;
      overflow: hidden;
    }
	}
}

@media only screen and (min-width: 1024px) {
	.dashboard-wrapper {
    grid-template-columns: 1fr 1fr;
	}
}
