<div class="character-details-dialog-wrapper">
  <img [src]="character.imageUrl" />

  <div class="info-wrapper">
    <div class="info">Name</div>
    <div class="info">{{character.name}}</div>
    <div class="info">TV shows</div>
    <div class="info">{{character.tvShows | arrayToString}}</div>
    <div class="info">Video games</div>
    <div class="info">{{character.videoGames| arrayToString}}</div>
  </div>

</div>
<div mat-dialog-actions class="actions">
  <button mat-raised-button color="primary" (click)="dialogRef.close(true)">OK</button>
</div>
